__pycache__/
*.pyc
.env
faiss_index.bin
metadata.pkl
logs.json
*.egg-info/
venv/
.venv/
Lib/
Scripts/
Include/
etc/
share/
pyvenv.cfg
backend/Lib/
backend/Scripts/
backend/Include/
backend/pyvenv.cfg
